.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    color: #DE1285;
    justify-content: space-between;
    align-items: center;
    font-size: 18pt;
    height: 5rem;
}

.selects {
    font-family: 'Shadows Into Light', cursive;
    font-size: 14pt;
    color: #AEC3FF;
    background-color: rgb(91, 12, 57);
    border-radius: 8px;
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 10px #DE1285;
    outline: transparent;
}

.selects:focus {
    border: 2px solid rgba(222, 18, 133, 1);
}

.selects:hover {
    cursor: pointer;
    border: 2px solid rgba(222, 18, 133, 1);
}

.selects:after {
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 10px #DE1285;
}


.btn {
    font-family: 'Shadows Into Light', cursive;
    color: #DE1285;
    background-color: rgba(9, 20, 52, 0.3);
    border-radius: 8px;
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 5px #DE1285;
    font-size: 18pt;
    padding: 1rem;
    transition: ease-in-out 200mg;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid rgba(222, 18, 133, 1);
}

.input {
    appearance: none;
    color: #AEC3FF;
    border-radius: 8px;
    background-color: transparent;
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 5px #DE1285;
    margin-right: 5px;
    font-size: 16pt;
    padding-left: 0.8rem;
    outline: transparent;
}

.input:focus {
    border: 2px solid rgba(222, 18, 133, 1);
}

.input:hover {
    border: 2px solid rgba(222, 18, 133, 1);
}

.input::placeholder {
    color: #AEC3FF;
    font-family: 'Shadows Into Light', cursive;
}

.input:read-write {
    font-family: 'Shadows Into Light', cursive;
}

.searchContainer {
    display: flex;
    justify-content: flex-end;
}