:root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
}

.imgContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btn {
    font-family: 'Shadows Into Light', cursive;
    color: #DE1285;
    background-color: rgba(9, 20, 52, 0.3);
    border-radius: 8px;
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 5px #DE1285;
    position: absolute;
    width: 7rem;
    height: 1.5rem;
    top: 50vh;
    left: 50vw;
    font-size: 11pt;
    transform: rotate(7.5deg);
    transition: ease-in-out 200ms;
}

.btn:hover {
    border: 1.5px solid rgba(222, 18, 133, 1);
    cursor: pointer;
    transform: scale(1.2) rotate(7.5deg);
} */

.btn {
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    color: #DE1285;
    background-color: rgba(9, 20, 52, 0.8);
    border-radius: 8px;
    border: 0.5px solid rgba(222, 18, 133, 0.6);
    box-shadow: 0px 0px 5px #DE1285;
    font-size: 18pt;
    padding: 0.6rem;
    top: 56%;
    left: 40%;
    transform: rotate(7.5deg);
    transition: ease-in-out 300ms;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgba(9, 20, 52, 1);
    box-shadow: 0px 0px 25px #DE1285;
}